VITE_API_URL=https://<api-id>.execute-api.<region>.amazonaws.com/dev
VITE_API_KEY=<your-api-key>
aws s3api put-bucket-policy --bucket biblionomics-frontend-dev --policy '{
  "Version": "2012-10-17",
  "Statement": [{
    "Effect": "Allow",
    "Principal": {"Service": "cloudfront.amazonaws.com"},
    "Action": "s3:GetObject",
    "Resource": "arn:aws:s3:::biblionomics-frontend-dev/*",
    "Condition": {
      "StringEquals": {
        "AWS:SourceArn": "arn:aws:cloudfront::163771015590:distribution/E1SAZ5O39ZGBCO"
      }
    }
  }]
}'
aws cloudfront get-distribution-config --id E1SAZ5O39ZGBCO > dist-config.json